<HTML>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/game/css/game.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/game/js/gameboard.js"></script>
    <script src="/static/game/js/pieces.js"></script>
    <script src="/static/game/js/requests.js"></script>
    <script>
        var gameBoard, pieces, request;
        var pk = function() {
            var gameId = window.location.pathname.replace('/play_game/', '');
            return gameId;
        }();

        function startRefresh() {
            if (gameBoard !== "" &&
                gameBoard !== undefined &&
                gameBoard.state.game !== undefined &&
                gameBoard.state.game['pk'] !== undefined) {
                request.pollState(gameBoard.state.game['pk']);
            }
        }

        function pageLoaded() {
            setInterval(startRefresh, 100);

            gameBoard = GameBoard.instance();
            pieces = Pieces.instance();
            request = Requests.instance();

            gameBoard.init($('.gameBoard')[0], canvasClicked, updateGameArea, gameOver);

            pieces.settings = gameBoard.settings;
            pieces.canvas = gameBoard.canvas;

            request.init();
            request.state = gameBoard.state;

            if (pk !== "") {
                request.pollState(pk);
            }
        }

        function gameOver(winner) {

        }
        
        function resetGame() {
            request.resetGame();
        }


        function startGame() {
            var player1 = $('#playerOne').val();
            var player2 = $('#playerTwo').val()
            request.createGame(player1, player2);
        }

        function canvasClicked(e) {
            var rowClicked = Math.floor(e.offsetY / ($(".gameBoard")["0"].clientWidth / 3));
            var colClicked = Math.floor(e.offsetX / ($(".gameBoard")["0"].clientWidth / 3));
            stateIndex = rowClicked * 3 + colClicked;
            if (gameBoard.state.game['state_sequence'][stateIndex] != '-') {
                return;
            }
            request.postTurn(rowClicked, colClicked);
        }

        function updateGameArea() {
            $('.gameInit')["0"].style.display = 'none';
            $('.gameInactive').addClass('game');
            $('.gameInactive').removeClass = 'gameInactive';
            gameBoard.clear();
            gameBoard.draw_board();
            if (gameBoard.state.game == undefined || gameBoard.state.game['state_sequence'] == undefined) {
                return;
            }
            $('#activePlayer').text(gameBoard.state.activePlayer["name"]);
            $('#currentGameId').text(gameBoard.state.game["pk"]);
            for (var i = 0, len = gameBoard.state.game['state_sequence'].length; i < len; i++) {
                pieceChar = gameBoard.state.game['state_sequence'][i];
                var sectionWidth = $(".gameBoard")["0"].clientWidth / 3;
                switch (pieceChar) {
                    case 'X':
                        gameBoard.drawUnicorn(i % 3, Math.floor(i / 3), sectionWidth);
                        break;
                    case 'O':
                        gameBoard.drawRainbow(i % 3, Math.floor(i / 3), sectionWidth);
                        break;
                    default:
                        break;
                }
            }
        }
    </script>
</head>

<body onLoad="pageLoaded()">
    <H1>Tic-Tc-Toe</H1>
    <div class="gameInit">
        <label for="playerOne">Player 1</label>
        <input type="text" id="playerOne"><br>
        <label for="playerTwo">Player 2</label>
        <input type="text" id="playerTwo"><br>
        <button id="btnStartGame" onclick="startGame()">Start Game</button>
    </div>
    <div id="game" class="gameInactive">
        <table>
            <tr>
                <td>
                    <span id="currentGameLabel">Current Game: </span>
                    <span id="currentGameId">##</span>
                </td>
                <td>
                    <button id="btnResetGame" onclick="resetGame()">Reset Game</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="activePlayerLabel">Active Player: </label>
                    <span id="activePlayer">someactive player</span>
                </td>
            </tr>
        </table>
        <div class="gameBoard"></div>
    </div>
</body>

</HTML>