
<HTML>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <link rel="stylesheet" type="text/css" href="/static/game/css/game.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script>
            var player = {
                game: undefined,
                name: undefined,
                initialize: function(game, name){
                    this.game = game;
                    this.name = name;
                }
            }
            var game = {
                id: undefined,
                activePlayer: undefined,
                players: undefined
            }

            var components = [];
            function component(width, height, color, x, y) {
                this.width = width;
                this.height = height;
                this.x = x;
                this.y = y;
                this.right = x + width;
                this.bottom = y + height;
                this.color = color;
                this.has_changed = false;

                this.update = function() {
                    ctx = myGameArea.context;
                    ctx.fillStyle = this.color;
                    ctx.fillRect(this.x, this.y, this.width, this.height);
                }
            }

            function drawCircle(centerX, centerY, radius, color, lineWidth) {
                var canvas = $("canvas")["0"];
                var context = canvas.getContext('2d');
                //var centerX = canvas.width / 2;
                //var centerY = canvas.height / 2;
                //var radius = 70;

                context.beginPath();
                context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
                context.fillStyle = color;
                context.fill();
                context.lineWidth = lineWidth;
                context.strokeStyle = '#003300';
                context.stroke();
            }

            function drawX(startX, startY, endX, endY, color, lineWidth) {
                var canvas = $("canvas")["0"];
                var context = canvas.getContext('2d');
                //var centerX = canvas.width / 2;
                //var centerY = canvas.height / 2;
                //var radius = 70;

                context.beginPath();
                context.moveTo(startX, startY);
                context.lineTo(endX, endY);
                context.fillStyle = 'black';
                context.fill();
                context.lineWidth = lineWidth;
                context.strokeStyle = '#003300';
                context.stroke();

                context.beginPath();
                context.moveTo(endX, startY);
                context.lineTo(startX, endY);
                context.fillStyle = 'black';
                context.fill();
                context.lineWidth = lineWidth;
                context.strokeStyle = '#003300';
                context.stroke();
            }

            var myGameArea = {
                canvas : document.createElement("canvas"),
                start : function() {
                    this.canvas.width = $('.gameBoard')["0"].clientWidth;
                    this.canvas.height = $('.gameBoard')["0"].clientHeight;
                    this.context = this.canvas.getContext("2d");
                    $('.gameBoard').append(this.canvas);
                    updateGameArea();
                },
                clear : function() {
                    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
                }
            }

            function startGame() {
                
                $('.gameInit')["0"].style.display = 'none';
                $('.gameInactive').addClass('game');
                $('.gameInactive').removeClass = 'gameInactive';
                var player1 = $('#playerOne').val()
                var player2 = $('#playerTwo').val()
                var data = { "first_player": player1, "second_player": player2 }
                myGameArea.start();
                postRequest('/start_game/', data, function(response){
                    alert(response);
                    $('.game_id').innerHtml = response["pk"]
                    $('.activePlayer').innerHtml = response["active_player_name"]
                    
                });
                $("canvas").click( function(e) {
                    var rowClicked = Math.floor(e.offsetY / ($(".gameBoard")["0"].clientWidth / 3));
                    var colClicked = Math.floor(e.offsetX / ($(".gameBoard")["0"].clientWidth / 3));
                    console.log("clicked " + e.offsetX + " " + e.offsetY);
                    console.log("clicked " + colClicked + " " + rowClicked);
                    var sectionWidth = $(".gameBoard")["0"].clientWidth /3; 
                    drawCircle(colClicked * sectionWidth + sectionWidth/2, rowClicked * sectionWidth + sectionWidth/2, (sectionWidth-20)/2, "rgba(255,255,255,0.5", 20);
                    drawX(colClicked * sectionWidth + 10, rowClicked * sectionWidth + 10, (colClicked+1) * sectionWidth - 10, (rowClicked+1) * sectionWidth - 10, "rgba(255,255,255,0.5", 20);
                })
            }

            function postTurn() {
                
            }

            function pollTurn() {

            }

            function updateGameArea() {
                var sectionWidth = $(".gameBoard")["0"].clientWidth /3; 
                myGameArea.clear();
                s = new component($(".gameBoard")["0"].clientWidth, 10, "black", 0, sectionWidth-5);
                s.update();
                s = new component($(".gameBoard")["0"].clientWidth, 10, "black", 0, 2*sectionWidth - 5);
                s.update();
                s = new component(10, $(".gameBoard")["0"].clientWidth, "black", sectionWidth-5, 0);
                s.update();
                s = new component(10, $(".gameBoard")["0"].clientWidth, "black", 2*sectionWidth - 5, 0);
                s.update();
            }

            function putRequest(serviceUrl, callback = null){
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: serviceUrl,
                    type: 'PUT',
                    headers: {"X-CSRFToken": csrftoken},
                    success:  function(result) {
                        if(callback != null){
                            callback(result);
                        }
                    },
                    error: function(result) {
                        console.log('error');
                    }
                });
            }

            function postRequest(serviceUrl, data, callback = null){
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: serviceUrl,
                    type: 'POST',
                    headers: {"X-CSRFToken": csrftoken},
                    data: data,
                    success:  function(result) {
                        if(callback != null){
                            callback(result);
                        }
                    },
                    error: function(result) {
                        console.log('error');
                    }
                });
            }

            function getRequest(serviceUrl, callback = null){
                $.ajax({
                    url: serviceUrl,
                    headers: {"X-CSRFToken": csrftoken},
                    type: 'GET',
                    success: function(result) {
                        if(callback != null){
                            callback(result);
                        }
                    },
                    error: function(result) {
                        console.log('error');
                        console.log(result);
                    }
                });
            }


            // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        
        </script>
    </head>
    <body>
        <H1>Tic-Tc-Toe</H1>
        <div class="gameInit">
            <label for="playerOne">Player 1</label>
            <input type="text" id="playerOne"><br>
            <label for="playerTwo">Player 2</label>
            <input type="text" id="playerTwo"><br>
            <button type="button" id="btnStartGame" onclick="startGame()">Start Game</button>
        </div>
            <div id="game" class="gameInactive">
                <input id="game_id" type="hidden" />
                <label id="activePlayerLabel">Active Player: </label>
                <span id="activePlayer">someactive player</span>
            <div class="gameBoard"></div>
        </div>
    </body>
</HTML>